:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  height: 100%;
  border-radius: 9px;
}

.main-container {
  background-color: lightgray;
  height: 92%;
  width: 95%;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  border-radius: 9px;
}

.logo {
  height: 15%;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}

.workouts {
  background-color: var(--color-dark--1);
  overflow-y: scroll;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.workouts-container {
  padding: 0 3.2rem 0 3.2rem;
}

.workouts :last-child {
}

.form {
  background-color: var(--color-dark--2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 3.6rem;
  padding: 1.4rem 4.6rem;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  border-radius: 9px;

  transition: all 0.5s, transform 1ms;
  line-height: 1;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

form label {
  flex: 0 0 50%;
}

.form-row {
  gap: 0.8rem;
  display: flex;
  align-items: center;
}

.form-input-box {
  padding: 0.4rem 0.6rem;
  width: 100%;
  border: none;
  border-radius: 2px;
}

.hidden {
  display: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: var(--color-dark--1);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.leaflet-popup-close-button {
  display: none;
}

.marker--running .leaflet-popup-content-wrapper {
  border-left: 9px solid #ff4b4b;
}

.marker--cycling .leaflet-popup-content-wrapper {
  border-left: 9px solid #2260d4;
}

.form-btn {
  display: none;
}

.workout-inner-container {
  border-radius: 9px;
  background-color: var(--color-dark--2);
  padding: 2.4rem 3.4rem;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  margin-top: 1.2rem;
}

.workout-message {
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.workout-stats {
  display: flex;
  gap: 1.6rem;
}

.workout-stats * {
  white-space: nowrap;
}

.running-workout-color {
  border-left: 5px solid #ff4b4b;
}

.cycling-workout-color {
  border-left: 5px solid #2260d4;
}

.workout-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workout-weather img {
  height: 24px;
  width: 24px;
}
